header.row
	div.col-xs
		nav.row
			a(
				href="/"
			).hvr-underline-from-center.col-xs.nav-link Home
			a(
				href=__CHAT_PATH__
			).hvr-underline-from-center.col-xs.nav-link Chat
			a(
				href="https://github.com/JSHonkers/jshonkers.com"
			).hvr-underline-from-center.col-xs.nav-link Github
		hgroup
			h1 JSHonkers
			h2 A technical community concerned with JavaScript